body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  background-color: rgb(255, 242, 242);
}

/* // MAIN CONTAINER STYLES // */
.container {
  margin-top: 5.25rem;
}

/* // GAME INSTRUCTIONS STYLES // */
#game-instructions {
  padding-right: 2.75rem;
}

#game-instructions h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
}

#game-instructions h6 {
  font-size: 1rem;
  font-weight: bold;
}

#game-instructions p {
  color: rgb(74, 74, 74);
}

/* //// GAME SECTION STYLES //// */

.card {
  background-color: rgb(32, 64, 86);
  height: 12.5rem;
}
